<a href="https://colab.research.google.com/github/PRADNESH-PATIL/BI-LAB/blob/main/exp3BI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
cast_data = pd.read_csv('/content/MsdKJbYiKps1l2a3s4hIEdxSrnsLEQe1q2ua88le1q2ua88l.csv')
cast_data.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [ ]:
cars_data = pd.read_csv('MsdKJbYiKps1l2a3s4hIEdxSrnsLEQe1q2ua88le1q2ua88l.csv',index_col=0,
                        na_values=["??","????"])

In [ ]:
cars_data2 = cars_data.copy()
cars_data3 = cars_data2.copy()

In [ ]:
cars_data2.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [ ]:
missing = cars_data2[cars_data2.isnull().any(axis=1)]

In [ ]:
cars_data2.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [ ]:
cars_data2['Age'].mean()

55.67215568862275

In [ ]:
# prompt: cars_data2['Age'].fillna(cars_data2['Age'].mean(),\inplace=True)

cars_data2['Age'].fillna(cars_data2['Age'].mean(), inplace=True)

<ipython-input-19-b29cbebb71d5>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data2['Age'].fillna(cars_data2['Age'].mean(), inplace=True)

In [ ]:
cars_data2['KM'].median()

63634.0

In [ ]:
cars_data2['KM'].fillna(cars_data2['KM'].median(), inplace=True)

<ipython-input-23-3d9033896994>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data2['KM'].fillna(cars_data2['KM'].median(), inplace=True)

In [ ]:
cars_data2['HP'].mean()

101.47832167832168

In [ ]:
cars_data2['HP'].fillna(cars_data2['HP'].mean(), inplace=True)

<ipython-input-25-3b4043fdda42>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data2['HP'].fillna(cars_data2['HP'].mean(), inplace=True)

In [ ]:
cars_data2.isnull().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [ ]:
cars_data2['FuelType'].value_counts()

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [ ]:
cars_data2['FuelType'].value_counts().index[0]

'Petrol'

In [ ]:
cars_data2['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0], inplace=True)

<ipython-input-31-cddc60607150>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data2['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0], inplace=True)

In [ ]:
cars_data2['MetColor'].mode()

0    1.0
Name: MetColor, dtype: float64

In [ ]:
cars_data2['MetColor'].fillna(cars_data2['MetColor'].mode()[0], inplace=True)

<ipython-input-33-34ce40a83995>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data2['MetColor'].fillna(cars_data2['MetColor'].mode()[0], inplace=True)

In [ ]:
cars_data2.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [ ]:
cars_data3=cars_data3.apply(lambda x:x.fillna(x.mean())\
                            if x.dtype=='float' else \
                            x.fillna(x.value_counts().index[0]))

In [ ]:
cars_data3.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64